/* global */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  

:root {
    --primary: #D33E43;
    --secondary: dodgerblue;
    --shade: #ddd;

    --text: #15171a;
    --text-light: #767676;
}

.flex-container {
    padding: 2em 1em;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.shadow {
    box-shadow: 0px 4px 10px 2px var(--shade);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    color: var(--text);
}


a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 2px;
}

a:hover {
    cursor:pointer;
}

hr {
    border: 1px solid var(--shade);
}

ul {
    /* width: 20vw; */
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0;
    border-bottom: 2px solid whitesmoke;
}

code {
    display: inline-block;
    background: whitesmoke;
    padding: 0.25em;
    border-radius: 4px;
    margin: 0;
}

img.icon {
    height:24px;
    width: 24px;
}

img.profile {
    width:auto;
    max-width: 200px;
    max-height: 30vh;
    border-radius: 50%;
    border: 3px solid var(--secondary);
}

.profile-container {
    text-align: center;
    max-width: 40vw;
    padding: 1em;

}

.profile-container p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.profile-container h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.profile-container a {
    font-size: 1.5rem;
    padding: 10px;
}

.profile-links {
    margin-top: 1em;
    justify-content: center;
    display: flex;
    flex-direction: row;
}


.profile-introduction {
    padding: 1em;
    justify-content: center;
}

.profile-introduction p {
    max-width: 800px;
}

.profile-introduction > p:first-of-type {
    font-size: 1.5em;
}

h3 {
    margin-bottom: 10px;
}

a * {
    color: inherit;
}

p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

section {
    margin: 3em 0;
}

.section-title {
    color: var(--text);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid var(--shade);
    margin: 0.25em;
    height: 100%;
    
}

.card h3 {
    display: inline-block;
    margin: 0;
    margin-bottom: 0.25em;
}
/* animations / utilities */

.card .tags {
    float:right;
    /* display: inline-block; */
    background-color: whitesmoke;
    padding: 0.25em;
    font-size: 0.7em;
    border-radius: 4px;
}

a img {
    transition: 0.1s cubic-bezier(.46,.15,.56,1);
}

a:hover img {
    scale: 1.5;
}

/* media queres */
@media(max-width:780px) {

    .flex-col,
    .flex-row, 
    .flex-container {
        flex-direction: column;
        margin: 0;
    }
    
    .profile-container {
        align-self: center;
        max-width: 90vw;
    }

    img.profile {
        width: auto;
        max-width: 40vw;
    }
}
